.title {
  margin: 0 0 10px;
}
.subtitle {
  margin: 0 0 5px;
}
.calculator__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-bottom: 10px;
}
.calculator__label{

}
.calculator__input{
  width: 100px;
}
.settings__input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}